services:
    backend:
        build: .
        ports:
            - 8089:8089
        env_file: .env
        environment:
            REDIS_ADDR: redis:6379
        networks:
            - backend
    redis:
        # TODO: sysctl vm/overcommit_memory=1
        # TODO: ulimits
        image: redis:8.2-alpine
        command: --appendonly yes --save 60 1 --loglevel warning
        volumes:
            - ./myredis/conf:/usr/local/etc/redis
            - redis-data:/data
        networks:
            - backend
networks:
    backend:
volumes:
    redis-data:
